.carousel-testimonials {

    .slick-prev,
    .slick-next {
        z-index: 1000;
    }

    .slick-prev {
        left: 0;
    }

    .slick-next {
        right: 0;
    }

    .testimony {}

    .testimony-text {
        margin-bottom: 30px;
        font-size: 1.3em;
        font-weight: bold;
        text-align: center;
    }

    .testimony-author {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .testimony-thumbnail-frame {
        margin-bottom: 15px;
        clip-path: polygon(6% 0%, 100% 0%, 93% 100%, 0 100%);
    }

    .testimony-titles {
        text-align: center;
    }

    .testimony-title {
        margin-bottom: 8px !important;
        font-weight: bold;
    }

    .testimony-subtitle {
        color: #ffbe31 !important;
    }
}