//

.carousel-slide {
    position: relative;
    margin-bottom: -5px !important;
    width: 100%;
    overflow: hidden;

    img {
        display: block;
        width: 100%;
    }

    .slick-prev,
    .slick-next {
        z-index: 1080;
    }

    .slick-prev {
        left: 15px;
    }

    .slick-next {
        right: 15px;
    }

    .slick-dots {
        top: 90%;
        bottom: 0;
    }
}