// Entrys

.entry-header {
    .entry-title {}
}

.entry-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1;
        margin-bottom: 0;
    }

    h1 {
        font-size: 39px;
    }

    h2 {
        font-size: 31px;
    }

    h3 {
        font-size: 25px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 18px;
    }

    h6 {
        font-size: 13px;
    }
}

.entry-header,
.entry-content,
.wp-block-cover__inner-container {
    width: 100% !important;

    &>*:not(.alignwide):not(.alignfull) {
        @extend .container;        
    }

    .alignfull {
        max-width: 100%;
    }

    .alignwide {
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;

        // Extra large devices (large desktops, 1200px and up)
        @media (min-width: 1200px) {
            max-width: 1360px;
        }
    }
}

.entry-footer {}