// Navbar

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;

    img {
        max-width: 100%;
        height: auto;

        @media (max-width: 575.98px) {
            max-width: 250px;
        }
    }

    &>.container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;

    .navbar-toggler-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        content: "";
        background: no-repeat center center;
        background-size: 100% 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 384' width='512' height='512' fill='%23fff' xmlns:v='https://vecta.io/nano'%3E%3Cpath d='M0 277.333h384V320H0zm0-106.666h384v42.667H0zM0 64h384v42.667H0z'/%3E%3C/svg%3E");
    }

    @media (min-width: 992px) {
        display: none;
    }
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;

    &:not(.show) {
        display: none;
    }

    @media (min-width: 992px) {
        display: flex !important;
        flex-basis: auto;
    }
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    list-style: none;
    z-index: 1080;

    @media (min-width: 992px) {
        flex-direction: row;
    }

    &>.nav-item {
        position: relative;

        .nav-link {
            display: block;
            padding: .5rem 0;
            text-decoration: none;
            color: inherit;

            @media (min-width: 992px) {
                padding: .5rem 1rem;
            }
        }

        @media (min-width: 992px) {
            &:not(:first-child) {
                &::before {
                    content: '';
                    position: absolute;
                    display: block;
                    top: 50%;
                    left: 0;
                    width: 1px;
                    height: 1.2em;
                    background-color: #fff;
                    transform: translateY(-50%);
                }
            }
        }
    }

    &.has-dropdown-menu-to-left {
        .dropdown-menu {
            right: 0;

            .dropdown-menu {
                top: 0;
                right: 100%;
            }
        }
    }

    &.has-dropdown-menu-to-right {
        .dropdown-menu {
            left: 0;

            .dropdown-menu {
                top: 0;
                left: 100%;
            }
        }
    }

    .dropdown {
        position: relative;
        display: inline-block;

        // OBS: Precisa ser melhorado com JS
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 15px;
            border-style: solid;
            border-color: inherit;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            transform: translateY(-50%) rotate(45deg);
            -webkit-transform: translateY(-50%) rotate(45deg);

            @media (min-width: 992px) {
                right: 0;
            }
        }

        .dropdown-menu {
            display: none;
            min-width: 160px;
            padding: 0;
            list-style: none;
            background-color: red;

            .nav-link {
                display: block;
                padding: 8px 15px;

                &:hover {
                    background-color: #ddd;
                }
            }

            @media (min-width: 992px) {
                position: absolute;
            }
        }

        // Show the dropdown menu
        &:hover {
            &>.dropdown-menu {
                display: block;
            }
        }
    }
}