a {
    color: inherit;
    transition:
        color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;

    &:hover,
    &:active,
    &:focus {
        color: #00C417;
    }
}