// Yellow Chevron

.has-yellow-chevron-right {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: calc(85px); // Descobrir o calculo para deixar sempre a mesma distacia equivalente de acordo com o tamanho da fonte

    &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        max-width: 77px;
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 77 269' xmlns:v='https://vecta.io/nano'%3E%3Cpath d='M29 0l48 134.5L30 269H0l48.7-134L0 0z' fill='%23f6e016'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }    
}