.has-columns-with-border {
    .wp-block-column {

        // Small devices (landscape phones, 576px and up)
        @media (min-width: 576px) {
            &:nth-child(2n) {
                border-left: 1px solid #ffc427;
            }
        }

        // Large devices (desktops, 992px and up)
        @media (min-width: 992px) {
            &:not(:first-child) {
                border-left: 1px solid #ffc427;
            }
        }
    }
}