// Gallery

// Remove gutters from gallery items
.wp-block-gallery .blocks-gallery-item {
	position: relative;
	margin: 0 !important;

	a {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transition: transform .3s ease-in-out;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: transparent;
			transition: background-color 0.3s ease-in-out;
		}

		&::after {
			content: '\26B2';
			position: absolute;
			font-size: 5rem;
			color: #ffffff;
			transform: rotate(-45deg);
			opacity: 0;
			transition: opacity 0.3 ease-in-out;
		}
	}

	&:hover {
		a {
			transform: scale(0.85);

			&::before {
				background-color: rgba(#ef773b, 0.5);
			}

			&::after {
				opacity: 1;
			}
		}
	}
}