@charset "UTF-8";
/* Gutenberg Block Editor Styles */
.wp-block {
  max-width: 1140px;
}

.wp-block[data-align=wide] {
  max-width: 1360px;
}

.wp-block[data-align=full] {
  max-width: none;
}

.wp-block-group *:last-child {
  margin-bottom: 0;
}

.wp-block-cover,
.wp-block-cover-image {
  padding-top: 30px;
  padding-bottom: 30px;
}

.wp-block-columns {
  margin-top: 30px;
  margin-bottom: 30px;
}

.wp-block-column {
  padding-left: 15px;
  padding-right: 15px;
  margin: 15px 0 !important;
}

.wp-block-buttons.alignright {
  text-align: right;
}
.wp-block-buttons.alignright .wp-block-button {
  margin-right: unset;
}

.wp-block-image img {
  max-width: 100%;
  height: auto;
}

.wp-block-gallery .blocks-gallery-item {
  position: relative;
  margin: 0 !important;
}
.wp-block-gallery .blocks-gallery-item a {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}
.wp-block-gallery .blocks-gallery-item a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}
.wp-block-gallery .blocks-gallery-item a::after {
  content: "⚲";
  position: absolute;
  font-size: 5rem;
  color: #ffffff;
  transform: rotate(-45deg);
  opacity: 0;
  transition: opacity 0.3 ease-in-out;
}
.wp-block-gallery .blocks-gallery-item:hover a {
  transform: scale(0.85);
}
.wp-block-gallery .blocks-gallery-item:hover a::before {
  background-color: rgba(239, 119, 59, 0.5);
}
.wp-block-gallery .blocks-gallery-item:hover a::after {
  opacity: 1;
}

@media (min-width: 576px) {
  .has-columns-with-border .wp-block-column:nth-child(2n) {
    border-left: 1px solid #ffc427;
  }
}
@media (min-width: 992px) {
  .has-columns-with-border .wp-block-column:not(:first-child) {
    border-left: 1px solid #ffc427;
  }
}

.has-yellow-chevron-right {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: calc(85px);
}
.has-yellow-chevron-right::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  max-width: 77px;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 77 269' xmlns:v='https://vecta.io/nano'%3E%3Cpath d='M29 0l48 134.5L30 269H0l48.7-134L0 0z' fill='%23f6e016'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.has-white-color {
  color: #ffffff !important;
}

.has-white-background-color {
  background-color: #ffffff !important;
}

.has-red-color {
  color: #ed2227 !important;
}

.has-red-background-color {
  background-color: #ed2227 !important;
}

.has-mikado-yellow-color {
  color: #ffc427 !important;
}

.has-mikado-yellow-background-color {
  background-color: #ffc427 !important;
}

.has-yinmn-blue-color {
  color: #30519b !important;
}

.has-yinmn-blue-background-color {
  background-color: #30519b !important;
}

.has-lime-green-color {
  color: #00c417 !important;
}

.has-lime-green-background-color {
  background-color: #00c417 !important;
}

.has-black-color {
  color: #000000 !important;
}

.has-black-background-color {
  background-color: #000000 !important;
}

/*# sourceMappingURL=gutenberg.css.map */
